@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=New+Rocker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=IM+Fell+Great+Primer:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;}
.fondamento-regular {
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: normal;}
.fondamento-regular-italic {
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: italic;}

.im-fell-great-primer-regular {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 400;
  font-style: normal;}
.im-fell-great-primer-regular-italic {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 400;
  font-style: italic;}
.im-fell-great-primer-sc-regular {
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: 400;
  font-style: normal;}

.germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

:root{
    --shade1: #fd3f3f;
    --shade2: #fd2b2b;
    --shade3: #fc1212;
    --shade4: #700101;
    --shade4-half: rgba(112, 1, 1, 0.5);
    --shade5: #3d0000;
    
    --bs-body-color: #0c0c0c;
    --bs-body-color-rgb: rgb(12, 12, 12);
    --bs-body-bg: #f4efe9;
    --bs-body-bg-rgb: rgb(244, 239, 233);
    /*
    --bs-secondary-color
    --bs-secondary-color-rgb
    --bs-secondary-bg
    --bs-secondary-bg-rgb

    --bs-tertiary-color
    --bs-tertiary-color-rgb
    --bs-tertiary-bg
    --bs-tertiary-bg-rgb

    --bs-emphasis-color
    --bs-emphasis-color-rgb

    --bs-border-color
    --bs-border-color-rgb
    /*
    --bs-primary-bg-subtle
    --bs-primary-border-subtle
    --bs-primary-text-emphasis
    
    --bs-success
    --bs-success-rgb
    --bs-success-bg-subtle
    --bs-success-border-subtle
    --bs-success-text-emphasis

    --bs-danger
    --bs-danger-rgb
    --bs-danger-bg-subtle
    --bs-danger-border-subtle
    --bs-danger-text-emphasis

    --bs-warning
    --bs-warning-rgb
    --bs-warning-bg-subtle
    --bs-warning-border-subtle
    --bs-warning-text-emphasis

    --bs-info
    --bs-info-rgb
    --bs-info-bg-subtle
    --bs-info-border-subtle
    --bs-info-text-emphasis

    --bs-light
    --bs-light-rgb
    --bs-light-bg-subtle
    --bs-light-border-subtle
    --bs-light-text-emphasis

    --bs-dark
    --bs-dark-rgb
    --bs-dark-bg-subtle
    --bs-dark-border-subtle
    --bs-dark-text-emphasis
    */
}

.review-body p{
    margin-bottom: 0 !important;
}

a{
    color: var(--bs-body-color);
    text-decoration: none;
}

.bg {
    background-image: url("images/bgr.jpeg");
}

body{
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;

    /* Fallback for browsers that don't support dvh */
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}


/*------------------------------------
- COLOR primary
------------------------------------*/

.alert-primary {
    color: #000000;
    background-color: var(--shade1);
    border-color: var(--shade2);
}

.alert-primary hr {
    border-top-color: var(--shade3);
}

.alert-primary .alert-link {
    color: #000000;
}

.badge-primary {
    color: #fff;
    background-color: var(--shade4);
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: var(--shade5);
}

.bg-primary {
    background-color: var(--shade4) !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: var(--shade5) !important;
}

.border-primary {
    border-color: var(--shade4) !important;
}

.btn-primary {
    color: #fff;
    background-color: var(--shade4);
    border-color: var(--shade4);
}

.btn-primary:hover {
    color: #fff;
    background-color: #4c0000;
    border-color: var(--shade5);
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem var(--shade4-half);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: var(--shade4);
    border-color: var(--shade4);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--shade5);
    border-color: #2e0000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--shade4-half);
}

.btn-outline-primary {
    color: var(--shade4);
    background-color: transparent;
    border-color: var(--shade4);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--shade4);
    border-color: var(--shade4);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem var(--shade4-half);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: var(--shade4);
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--shade4);
    border-color: var(--shade4);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--shade4-half);
}

.list-group-item-primary {
    color: #000000;
    background-color: var(--shade2);
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #000000;
    background-color: var(--shade3);
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: var(--shade2);
}

.table-hover .table-primary:hover {
    background-color: var(--shade3);
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: var(--shade3);
}

.text-primary {
    color: var(--shade4) !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: var(--shade5) !important;
}
