{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            {% if "placeholder" in product.main_image.url %}
            <img src="{% static 'images/placeholder.webp' %}" class="scale" alt="placeholder">
            {% else %}
            <img src="{{ product.main_image.url }}" class="img-fluid bg-light-subtle border rounded border-light-subtle" alt="{{ product.product_name }}">
            {% endif %}
        </div>
        <div class="col-sm-4">
            <h1>{{ product.product_name }}</h1>
            <p>{{ product.price }} Gold</p>
            <div class="col py-1 mb-3"><button class="btn btn-outline-primary text-nowrap w-100" type="button">Add to Cart</button></div>
            <h6>{{ product.subtitle }}</h6>
            <p>{{ product.description | safe }}</p>
        </div>
        <!-- Displaying count of comments -->
        <div class="row">
            <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
            </div>
            <div class="col-12">
            <hr>
            </div>
        </div>
        <!-- Displaying Comments -->
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Reviews:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                to iterate through each comment in comments -->
                {% for review in reviews %}
                <div class="p-2 comments">
                    <h5>{{ review.title }}</h5>
                    <p class="font-weight-bold">
                        {{ review.username }}
                        <span class="font-weight-normal">
                        {{ review.created_on }}
                        </span>
                    </p>
                    <div id="comment{{ review.id }}">
                        {{ review.content | linebreaks }}
                    </div>
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}